{{#if (or (eq @link '.') (eq @link '...'))}}{{@link}}{{else}}
<button ...attributes title="{{@title}}" type="button" {{on "click" (fn @action @link)}} disabled={{not @link}}>{{@text}}</button>
{{/if}}